body{

background:#f2f2f2;

font-family:Arial;

margin:0;

padding:20px;

}

.container{

max-width:400px;

margin:auto;

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 0 10px rgba(0,0,0,.2);

}

input,select{

width:100%;

padding:12px;

margin-top:8px;

margin-bottom:20px;

font-size:18px;

box-sizing:border-box;

}

button{

width:100%;

padding:15px;

font-size:18px;

background:green;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

h1{

text-align:center;

}
